body {
  background-color: #5583ce;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameIntro {
  background-color: rgb(166, 86, 86);
  width: 94vw;
  height: 94vh;
}

#gameBoard {
  position: relative;
  background-color: rgb(71, 149, 71);
  width: 94vw;
  height: 94vh;
}

#stopButton {
  position: absolute;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
}

#canvas {
  background-color: rgb(236, 190, 92);
  width: 100%;
  height: 100%;
}
