/* small/mobile: '@media (max-width: 600px)'; canvas < (360 × 640) */

/* medium/tablet: '@media (min-width: 601px) and (max-width: 1279px)'; canvas < (601 x 962) */

/* large/desktop: '@media (min-width: 1280px)'; canvas < (1280 × 720) */

/* https://www.hobo-web.co.uk/best-screen-size/ */

body {
  background-color: #5583ce;
  margin: 0;
}

#gameIntro {
  background-color: rgb(166, 86, 86);
}

#gameBoard {
  position: relative;
  background-color: rgb(71, 149, 71);
}

#stopButton {
  position: absolute;
}

#canvas {
  background-color: rgb(236, 190, 92);

  @media (max-width: 600px) {
    width: 360px;
    height: 640px;
  }

  @media (min-width: 601px) and (max-width: 1279px) {
    width: 601px;
    height: 962px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
    height: 720px;
  }
}
